@import "./typography.css";

:root {
  --background-color: hsl(30, 27%, 78%);
  --line-color: hsl(35, 16%, 67%);
  /* --background-color:#d8dcdf; */
  --font-color: #333;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}
h2 {
  font-family: "optima", georgia, serif;
  font-size: 3em;
  line-height: 1.2em;
  color: #333;
}
h3 {
  font-family: "optima", georgia, serif;
  font-size: 10vw;
  color: #333;
}
h4 {
  font-family: "optima", georgia, serif;
  font-size: 2em;
  line-height: 1.2em;
  color: #333;
}
h5 {
  font-family: "optima", georgia, serif;
  font-size: 1.6em;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: #333;
}
p {
  font-family: "optima", georgia, serif;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.3em;
  color: #333;
}
em {
  font-family: "optima-Italic", georgia, serif;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  margin: 20px 0;
  margin-right: 80px;
}
li {
  margin-bottom: 8px;
}
filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  margin: 20px -80px 0;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  z-index: 100;
  background-color: var(--background-color);
  height: 60px;
  /* border-bottom: 1px solid var(--font-color); */
  box-shadow: 0px 7px 7px -8px rgba(0 0 0 / 20%);
}

filter h1 {
  margin-left: 16px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  /* color: transparent;
  text-shadow: -2px -2px 2px rgb(0 0 0 / 35%),
    0.5px -0.5px 2px rgb(255 255 255 / 60%), -2px -2px 2px rgb(0 0 0 / 35%);
  transition: text-shadow 1.2s; */
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
}

/* filter h1:hover {
  text-shadow: -2px -4px 2px rgb(255 255 255 / 45%),
    1px -1px 2px rgb(0 0 0 / 25%);
} */

main,
header {
  margin: 0 140px;
}

footer {
  margin: 120px 140px;
}

/* Header */

header > nav,
footer {
  display: flex;
  justify-content: space-between;
}
header > nav {
  margin: 0 0 100px 0;
  height: 121px;
}
header > nav > h1 {
  display: flex;
  justify-content: end;
}
header > nav > h1 > span {
  /* border-left: 4px solid var(--font-color); */
  box-shadow: inset -2px -1px 8px -3px rgba(255 255 255 / 60%),
    inset 10px 0px 5px -10px rgba(0 0 0 / 20%);
  margin-right: 10px;
  height: 116px;
  width: 12px;
  border-radius: 0 0 5px 5px;
}
header > nav > h1 > a {
  margin-top: 100px;
}

/* Class Styles */

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-top: 20px;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 60px;
}

.project_description {
  /* margin-top: 5px; */
  padding: 25px 10px 20px;
  /* background-color: #555; */
}
.project_description h5 {
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  /* color: var(--background-color); */
}
.project_description p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  color: #555;
}

/* .visible {
} */

.about {
  width: 50%;
  margin: 140px 0;
}
.about h4 {
  margin-bottom: 40px;
}
